In [56]:
#Lets roll two dice and now what is the outcome of independent throw
d={(i,j):i+j for i in range(1,7) for j in range(1,7)}

In [48]:
#Following list of pairs that sum to seven
from collections import defaultdict
dinv = defaultdict(list)
for i,j in d.items():
    dinv[j].append(i)
dinv[7]

[(1, 6), (2, 5), (3, 4), (6, 1), (5, 2), (4, 3)]

In [52]:
dinv[11]

[(6, 5), (5, 6)]

In [53]:
#Find the probability of each sum of throw of all possible occurence
#for example probability of having 11 is 2 out of 36 i.e. [(6, 5), (5, 6)]
#So 2/36 = 0.05555555555555555
X={i:len(j)/36 for i,j in dinv.items() }
X

{2: 0.027777777777777776,
 3: 0.05555555555555555,
 4: 0.08333333333333333,
 5: 0.1111111111111111,
 6: 0.1388888888888889,
 7: 0.16666666666666666,
 8: 0.1388888888888889,
 9: 0.1111111111111111,
 10: 0.08333333333333333,
 11: 0.05555555555555555,
 12: 0.027777777777777776}

In [63]:
#What if we have three dice
d3={(i,j,k):i+j+k for i in range(1,7) for j in range(1,7) for k in range(1,7)}

In [72]:
#The dice are independent, the probability of any triple is 1/(6)power3
X={i:len(j)/6**3 for i,j in dinv.items()}
X

{2: 0.004629629629629629,
 3: 0.009259259259259259,
 4: 0.013888888888888888,
 5: 0.018518518518518517,
 6: 0.023148148148148147,
 7: 0.027777777777777776,
 8: 0.023148148148148147,
 9: 0.018518518518518517,
 10: 0.013888888888888888,
 11: 0.009259259259259259,
 12: 0.004629629629629629}

In [102]:
#Letâ€™s try computing this using Pandas instead of Python dictionaries. 
from pandas import DataFrame
d=DataFrame(index=[(i,j) for i in range(1,7) for j in range(1,7)], columns =('d1','d2','d1d2sum','p'))
#set up above where the outcome of the first die is the d1 column and the outcome of the second die is d2
d.d1=[i[0] for i in d.index]
d.d2=[i[1] for i in d.index]

In [108]:
d.d1d2sum=d.d1 + d.d2
d.loc[d.d1>0,'pd1']=1/36

In [109]:
d.p = (d.d1 * d.d2)
d.head(5)

        d1  d2  d1d2sum  p       pd1
(1, 1)   1   1        2  1  0.027778
(1, 2)   1   2        3  2  0.027778
(1, 3)   1   3        4  3  0.027778
(1, 4)   1   4        5  4  0.027778
(1, 5)   1   5        6  5  0.027778

In [110]:
d.groupby('d1d2sum')['pd1'].sum()

d1d2sum
2     0.027778
3     0.055556
4     0.083333
5     0.111111
6     0.138889
7     0.166667
8     0.138889
9     0.111111
10    0.083333
11    0.055556
12    0.027778
Name: pd1, dtype: float64

0.027777777777777776